body {
  display: grid;
  margin: 0 auto;
  background-color: #A5483E;
}


body > header {
  background-color: #A5483E;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
  height: 2em;
}

.logo_header{
  width: 10em;
}
.geral_div{
  width: 100%;
  margin: 0 auto;
  background-color: #DAE0E6;
}

.story{
  width: 50em;
  margin: 1em auto;
  background-color: white;
  border: 1px solid rgb(156, 162, 168);
  border-radius: 5px;
}

body > footer{
  text-align: center;
}