html{
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: 25fr 0.5fr;
  margin: 0 auto;
  background-color: #DAE0E6;
}


body > header {
  background-color: #A5483E;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
  height: 2em;
}

.logo_header{
  width: 10em;
}

.post{
  min-width: 50em;
  margin: 1em auto;
  background-color: white;
  border: 1px solid rgb(156, 162, 168);
  border-radius: 5px;
}

body > footer{
  height: 2em;
  text-align: center;
  background-color: #A5483E;
}

#log_in_button{
  background-color:white;
}
#log_in_button:hover{
  background-color:rgb(161, 78, 68);
  cursor: pointer;
}

.header_button {
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:black;
  text-align:center;
  transition: all 0.2s;
}

#sign_up_button{
  background-color:rgb(212, 102, 90);
}
#sign_up_button:hover{
  background-color:rgb(134, 64, 56);
  cursor: pointer;
}

.post_ref_link{
  color: black;
  text-decoration: none;
}

.post_button{
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  font-size:12px;
  color:#FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
  background-color: #A5483E;
}

.post_button:hover{
  border-color: rgb(0, 0, 0);
  cursor: pointer;
}

.search_bar[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../images/site/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}

.search_bar[type=text]:focus {
  width: 30%;
}

.view_post{
  padding-top: 3em;
  width: 100%;
  margin: 0 auto;
  background-color: #DAE0E6;
}

.view_post_container{
  width: 70em;
  margin: 1em auto;
  background-color: white;
  border: 1px solid rgb(156, 162, 168);
}

.hr_divisor{
  width: 95%;
  margin: 1em auto;
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid rgb(97, 97, 97);
  padding: 0; 
}

.hr_divisor_comments{
  width: 98%;
  margin: 1em auto;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0; 
}

.comment_button{
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#878A8C;
  border-color: white;
  text-align:center;
  transition: all 0.2s;
  background-color: white;
}

.comment_button:hover{
  text-decoration: underline;
  cursor: pointer;
}

.inside_comments{
  margin-left: 3em;
}

section#user-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0em 1em;
}

section#user-header img{
  width: 2em;
  height: 2em;
}

#profile_button{
  display:flex;
  padding: 0;
  min-width: 160px;
  justify-content: space-around;
  align-items: center;
}