body > footer{
    max-height: 3em;
    align-self: flex-end;
}

section#register, section#login {
    font-family: verdana;
}

section#register > h1, section#login > h1{
    text-align: center;
}

section#register > form, section#login > form{
    background-color: white;
    padding: 1.5em;
    margin: 0 auto;
    max-width: 20em;
    display: flex;
    flex-direction: column;
}

section#register > form > label, section#login > form > label{
    display: flex;
    flex-direction: column;
}

section#register > form > label > input, section#login > form > label > input {
    display: block;
}

section#register > form > label:first-of-type, section#login > form > label:first-of-type {
    margin-top: 1em;
}

section#register > form > label, section#login > form > label {
    margin-bottom: 2em;
    font-weight: 600;
}

section#register form input[type=submit], section#login form input[type=submit] {
    align-self: flex-end;
    margin-bottom: 0;
}

section#register input:not([type=submit]), section#login input:not([type=submit]) {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    width: 100%;
    margin-top: 1em;
}

section#register input[type=submit], section#login input[type=submit] {
    color: white;
    background-color: black;
    font-size: 12px;
    width: 7em;
    padding: 1.2em 0;
}

section#news form input[type=submit] {
    color: white;
    background-color: black;
    width: 5em;
    margin-top: 1em;
    padding: 1.1em 0;
}

@media (max-width: 30em){
    section#register, section#login {
        background-color: white;
        margin: 0em;
        margin-top: 0em;
        height: auto;
    }

    section#register > h1, section#login > h1 {
        margin-top: 0em;
        padding-top: 1em;
    }

    body > footer{
        margin-right: 0em;
        margin-top: 0em;
    }

    body > nav{
        margin-bottom: 0em;
    }
}