#create_channel {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.main_page_posts{
    background-color: white;
    margin: 1em;
}

.main_page_posts > h1{
    margin: 0;
    padding: 1em 0 0.2em 0.3em;
    background-color: rgb(201, 209, 216);
    border-bottom: 2px solid black;
}

#new_channel_post form > input, .tabcontent form > textarea{
    box-sizing: border-box;
    margin: 0.5em auto;
    padding: 0.5em;
    font-size: 1em;
    width: 100%;
}

#new_channel_post form > textarea{
    border-color: rgb(201, 209, 216);
    resize: vertical;
    height: 10em;
}

#new_channel_post form > input[type="submit"] {
    float: right;
    width: 20%;
    padding: 0.3em 1.2em;
    display: block;
    border-radius: 5px;
    font-weight:500;
    font-size:16px;
    color:#FFFFFF;
    text-align:center;
    background-color: #A5483E;
    outline: none;
}