#create_channel {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.new_channel_page{
    background-color: white;
    margin: 1em;
}

.new_channel_page > h1{
    margin: 0;
    padding: 1em 0 0.2em 0.3em;
    background-color: rgb(201, 209, 216);
    border-bottom: 2px solid black;
}

#new_channel form {
    padding: 1em;
}

#new_channel form > input{
    box-sizing: border-box;
    padding: 0.5em;
    font-size: 1em;
    width: 100%;
    margin-top: 1em;
}

#new_channel form > input[type="file"]{
    margin: 1em 0;

}

#new_channel form > input[type="submit"] {
    float: right;
    width: 20%;
    padding: 0.3em 1.2em;
    display: block;
    border-radius: 5px;
    font-weight:500;
    font-size:16px;
    color:#FFFFFF;
    text-align:center;
    background-color: #A5483E;
    outline: none;
}