#main_page {
    padding-top: 3em;
    max-width: 70em;
    margin: 0 auto;
    background-color: #DAE0E6;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#main_page_posts{
    margin: 0 1em;
}

#aside_create_post h1{
    text-align: center;
}

#aside_create_post button{
    padding: 0.3em 1.2em;
    display: block;
    margin: 0 auto 0.2em auto;
    border-radius: 5px;
    font-family:'Roboto',sans-serif;
    font-weight:500;
    font-size:16px;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    background-color: #A5483E;
    outline: none;
}

#aside_create_post a{
    text-decoration: none;
}

#aside_create_post button:hover{
    border-color: rgb(0, 0, 0);
    cursor: pointer;
}

#aside_favorite_post{
    display: inline-block;
}

#aside_favorite_post header{
    margin: 0.4em;
    font-size:12px;
    font-weight:900;
}

#aside_favorite_post a {
    text-decoration: none;
    color:black;
}

#aside_favorite_post p{
    padding: 0 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}