#view_post{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#post_page_post {
    margin: 1em 1em;
    background-color: white;
}

#post_page_post img {
    max-width: 40em;
    height: auto;
}

#channel_info {
    color: white;
    text-shadow: 1px 1px 0 black;
    text-align: center;
}

#add_comment{
    padding-right: 1em;    
    display: flex;
    flex-direction: row;
    max-width: 50em;
}

#add_comment > img{
    margin: 1em;
    width: 40px;
    height: 40px;
}

#add_comment > form{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin: 1em 0;
}

#add_comment > form textarea{
    flex-grow: 1;
    resize:vertical;
}

#add_comment > form input{
    margin: 1em 0;
    margin-left: 2em;
    width: 10em;
    height: 2em;
    padding: 0px;
    border-radius: 5px;
}

#add_comment h3{
    padding-left: 1em;
}

#add_comment > h3 a{
    cursor: pointer;
}

#add_comment > h3 a:hover{
    text-decoration: underline;
    color: blue;
}

.submit_comment_button{
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size:12px;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    background-color: #A5483E;
    outline: none;
}

.submit_comment_button:hover{
    border-color: rgb(0, 0, 0);
    cursor: pointer;
}

@media screen and (max-width:1050px) {
    #view_post {
        grid-template-areas: "info info"
                            "post aside";
        grid-template-rows: auto 1fr;
    }

    #post_page_post {
        width: 90vw;
        overflow: auto;
    }

    #post_page_aside {
        padding-left: 1em; 
        grid-area: info;
        width:100%;
    }

    #post_page_aside #aside_footer{
        display: none;
    }
}