#view_post{
    padding-top: 3em;
    max-width: 70em;
    margin: 0 auto;
    background-color: #DAE0E6;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#post_page_post {
    margin: 1em 1em;
    background-color: white;
}

#channel_subscription {
    text-align: center;
}

#channel_subscription button{
    padding: 0.3em 1.2em;
    display: block;
    margin: 0 auto 0.2em auto;
    border-radius: 5px;
    font-family:'Roboto',sans-serif;
    font-weight:500;
    font-size:16px;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    background-color: #A5483E;
    outline: none;
}

#channel_subscription a{
    text-decoration: none;
}

#channel_subscription button:hover{
    border-color: rgb(0, 0, 0);
    cursor: pointer;
}

#add_comment{
    display: flex;
    flex-direction: row;
    max-width: 50em;
}

#add_comment img{
    margin: 1em;
    width: 40px;
    height: 40px;
}

#add_comment form{
    display: flex;
    flex-direction: row;
    margin: 1em 0;
}

#add_comment > form textarea{
    width: 50em;
    resize:vertical;
}

#add_comment > form input{
    margin: 1em 0;
    margin-left: 2em;
    width: 10em;
    height: 2em;
}

.submit_comment_button{
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size:12px;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    background-color: #A5483E;
    outline: none;
}

.submit_comment_button:hover{
    border-color: rgb(0, 0, 0);
    cursor: pointer;
}

.sort_by{
    padding-left: 1em;
    padding-bottom: .5em;
    border-bottom: 1px solid rgb(214, 213, 213);
    display: flex;
    flex-direction: row;
}

#sortby{
    font-size: 10px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 12px;
    text-transform: uppercase;
    margin: auto 0;
    padding-right: 5px; 
}

#typesortby{
    font-size: 15px;
    font-weight: 1000;
    line-height: 12px;
    text-transform: uppercase;
    margin: auto 0;
    padding-right: 2px;
    cursor: pointer;
}

.triangle_down{
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #A5483E;
    margin: auto 0;
    cursor: pointer;
}

.sort_by {
    position: relative;
}