#view_post{
    padding-top: 3em;
    max-width: 70em;
    margin: 0 auto;
    background-color: #DAE0E6;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#post_page_post {
    margin: 1em 1em;
    background-color: white;
}

#channel_subscription {
    text-align: center;
}

#channel_subscription button{
    padding: 0.3em 1.2em;
    display: block;
    margin: 0 auto 0.2em auto;
    border-radius: 5px;
    font-family:'Roboto',sans-serif;
    font-weight:500;
    font-size:16px;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    background-color: #A5483E;
    outline: none;
}

#channel_subscription a{
    text-decoration: none;
}

#channel_subscription button:hover{
    border-color: rgb(0, 0, 0);
    cursor: pointer;
}

#add_comment{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(214, 213, 213);
}

#add_comment img{
    margin: 1em;
    width: 40px;
    height: 40px;
}

#add_comment form{
    display: flex;
    flex-direction: row;
    margin: 1em 0;
}

#add_comment > form textarea{
    width: 50em;
}

#add_comment > form input{
    margin: 1em 0;
    margin-left: 2em;
}

.post_complete header{
    padding-left: 1em;
}